HASS_IP="192.168.0.67"
HASS_PORT=8123
HASS_TOKEN="YOUR_HASS_TOKEN"
BATTERY_URL="https://api.example.com/"
EV_URL="https://api.example.com/"
EV_CHARGER_URL="https://api.example.com/"
WEATHER_API_URL="ttps://api.open-meteo.com/v1/forecast"
PANEL_LATITUTDE=0.000000
PANEL_LONGITUDE=0.000000
MODEL_FILENAME="model.bin"
MODEL_DATA_FILENAME="model_data.bin"