HASS_IP="192.168.0.67"
HASS_PORT=8123
HASS_TOKEN="YOUR_HASS_TOKEN"
BATTERY_NAME="example_battery_name"
EV_NAME="example_ev_name"
EV_CHARGER_NAME="example_ev_charger_name"
WEATHER_API_URL="https://api.open-meteo.com/v1/forecast"
PANEL_LATITUDE=0.000000
PANEL_LONGITUDE=0.000000
MODEL_FILENAME="model.bin"
MODEL_DATA_FILENAME="model_data.bin"